

 {{#each articles}}
<div class="panel">
<div class="panel-heading"> <a href={{this.link}}id="ptitle">{{this.title}}</a>
 <button type="button" class="pull-right" id="saveButton" data-id={{this._id}}>Save Article</button>
</div>
<div class="panel-body">
  <p> {{this.summary}}</p>
 
</div>
</div>
{{/each}}



<script type="text/javascript">
  //Click event to show modal
 
         


</script>