.bg {
    background: url('../images/dcpic.png') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 600px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
  }

 .navbar, .navbar-default, .container-fluid, a {
    background-color: black;
    color: white;
    text-shadow: #444 0 4px 4px;
  }

  #navText, #savedArticles {
    color: white;
    font-size: 18px;
    background-color: black;

  }

  .jumbotron {
    height: 600px;
    color: white;
    text-shadow: #444 0 8px 8px;
    background:transparent;
    padding-top: 10px;
  }

  h1 {
    height: 70px;
  }

  #title {
    font-size: 55px;
    color: peachpuff; 
    text-align: right;
    margin-top: 60px;
    padding-bottom: 30px;
    font-family: cursive;
    font-weight: bold;
    padding-right: 40px;
  }
  
 
 #scraperBtn, #saveButton, #noteButton, #delButton, #submitNote, #closeNote, #saveArticle {
    background-color: darksalmon;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
    font-family: cursive;
    text-shadow: #444 0 2px 2px;
  }



  #scrapeSource {
    font-size: 32px;
    /* text-shadow: #444 0 4px 4px; */
    padding-top: 315px;
    font-family: cursive;
    color: peachpuff;
  }

  panel {
    border: solid 10px;
    border-color: dimgray;
    padding: 10px;
 
 
  }

  .panel-heading {
    background-color: dimgrey;
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
  
   

  }

   .panel-body {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
  }

  p {
    font-style: italic;
    font-size: 20px;
  }

  #ptitle, a {
    background-color: dimgray;
    color: white
  }


  